<div id="haha">
    <h1 unselectable="on" onselectstart="return false;" onmousedown="return false;">AfroFashion</h1>
<div  class="d-flex justify-content-center container mt-5">
    <div class="row">
        <div class="card p-3 bg-white" *ngFor="let article of this.articles | async"><i class="fa fa-apple"></i>
            <div class="about-product text-center mt-2"><img src="{{article.image}}" width="300">
                <div>
                    <h4>{{article.libelle}}</h4>
                    
                    <h6 class="mt-0 text-black-50">{{article.prix}}€</h6>
                </div>
            </div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between p-price"><span>{{article.description}}</span></div>
            </div>
            <div style="position: relative;bottom: 10px;">
                
            </div>
        </div>


        

        
 

 

            
            
           
           
    </div>
   
</div>
</div>