<div id="full-screen-video-container">
    <video controls autoplay id="myVideo" (ended)="videoEnd()">
      <source *ngIf="this.url" src="{{this.url}}" type="video/mp4" />
    </video>
    <ng-container *ngIf="show">
        <div class="clearfix bg-secondary" class="full-screen-video-content" id="full-screen-video-content">
            <div  class="float-start"><button class="b1" (click)="employeeDetails(this.idGauche)" ><span></span><span></span><span></span><span></span>Choix 1</button></div>
            <div class="float-end"><button class="b2" (click)="employeeDetails(this.idDroite)" > <span></span><span></span><span></span><span></span>Choix 2</button></div>
          </div>
    </ng-container>
</div>

  